body {
    background-color: rgba(243, 245, 245, 0.952);
}

.h1Inimigos {
   font-family: "Story Script", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.listaInimigos {
   padding: 8px;
   gap: 20px;
   
}