* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #a58d66;
  font-family: Arial, Helvetica, sans-serif;
}


.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #089ec0c2;
  padding: 10px 20px;
  position: relative;
  z-index: 5;
}

.navbar img {
  height: 60px;
  width: 60px;
}

/* Links do menu */
.navbar ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
  color: #ffffff;
  align-items: center;
}

.navbar ul li a {
  text-decoration: none;
  color: #ffffff;
}

/* Faz o botão "Sobre" ficar IGUAL aos links */
#openAbout {
  background: none;
  border: none;
  padding: 0;
  margin: 0;

  font: inherit;
  color: #ffffff;
  cursor: pointer;
  text-transform: uppercase;

  letter-spacing: 0.5px;
}

.navbar ul li a:hover,
#openAbout:hover {
  opacity: 0.85;
}

/* Botão hambúrguer */
.menu-toggle {
  display: none;
  flex-direction: column;
  gap: 5px;
  background: none;
  border: none;
  cursor: pointer;
}

.menu-toggle span {
  width: 25px;
  height: 3px;
  background: #fff;
}

/* Responsivo */
@media (max-width: 768px) {
  .menu-toggle {
    display: flex;
  }

  .navbar ul {
    display: none;
    flex-direction: column;
    background-color: #089ec0;
    position: absolute;
    top: 70px;
    right: 20px;
    padding: 15px;
    border-radius: 8px;
  }

  .navbar ul.active {
    display: flex;
  }
}



/* Base do dialog com estilo do site */
dialog#aboutModal {
  border: 2px solid rgba(8, 158, 192, 0.55);
  border-radius: 16px;

  width: min(700px, 90vw);
  max-width: 900px;
  padding: 24px;

  margin: auto;

  background: rgba(8, 158, 192, 0.18);
  color: #ffffff;

  box-shadow: 0 18px 50px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.55);
}

dialog[open] {
  animation: modalFromBottom 250ms ease-out;
}

@keyframes modalFromBottom {
  from {
    opacity: 0;
    transform: translateY(60px) scale(0.97);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
dialog#aboutModal h2 {
  margin-bottom: 10px;
  font-size: 22px;
}

dialog#aboutModal p {
  line-height: 1.5;
  opacity: 0.95;
}

/* Botão Fechar com estilo */
#closeAbout {
  margin-top: 14px;
  border: none;
  border-radius: 10px;
  padding: 10px 12px;

  background: rgba(8, 158, 192, 0.7);
  color: #ffffff;

  cursor: pointer;
  font: inherit;
}

#closeAbout:hover {
  opacity: 0.9;
}

/* Fundo escuro */
dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.55);
}


dialog[open] {
  animation: modalIn 180ms ease-out;
}

@keyframes modalIn {
  from {
    opacity: 0;
    transform: translateY(8px) scale(0.98);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.img-landingpage {
  width: 100%;
  height: 100vh;
  background-image: url("img/lies_of_p_ergo_rain.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
