*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #a58d66;
}



#btn {
    border-radius: 5px;
    background-color: #407e8c;
}


.navbar {
    display: flex;
    align-items: center;
    background-color: #089ec0c2;
    margin-left: auto;
    margin-right: auto;
}

.navbar img {
    height: 60px;
    width: 60px;
    padding: 5px;

}

.navbar ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    padding: 10px;
    margin-left: 65%;
    color: #ffffff;

}

.navbar ul li a {
    text-decoration: none;
    color: #ffffff;
}


.img-landingpage {
    height: 1000px;
    width: 1000px;
    padding: 0;
    background-position: top center;
    background-image: url(img/lies_of_p_ergo_rain.gif);
    background-repeat: no-repeat;
    background-size: contain;
}







/*footer {
    margin-top: 100%;
    background: #111;
    color: #fff;
    text-align: center;
    padding: 12px 16px;
}*/

